题目1:输出50内的3的倍数

<script>
for (i=1;i<=50;i++){
 if (i%3==0){
 document.write(i+"<br>")
 }
}
</script>

***************************************************************************
题目2: 输出每个月的天数／output how many days in each month
solution 1:
<script>

 var month=2;
 switch(month){
 	case 1:
    case 3:
    case 5:
    case 7:
    case 8:
    case 10:
    case 12:  
    alert("This month has"+" "+31+" "+"days.")
    break;
    
   case 4:
   case 6:
   case 9:
   case 11:  
   alert("This month has"+" "+30+" "+"days.")
   break;
   
   case 2:
   alert("This month has"+" "+28+" or "+29+" days.")
   break;
 }
 

</script>

***************************************************************************
***better*** solution 2: 
<script>

 var month=parseInt(prompt("please input month:"));
 switch(month){
 	case 1:
    case 3:
    case 5:
    case 7:
    case 8:
    case 10:
    case 12:  
    alert("This month has"+" "+31+" "+"days.")
    break;
    
   case 4:
   case 6:
   case 9:
   case 11:  
   alert("This month has"+" "+30+" "+"days.")
   break;
   
   case 2:
   alert("This month has"+" "+28+" or "+29+" days.")
   break;
 }
 

</script>

***************************************************************************
题目3: 乘法口诀表

for (i=1;i<=9;i++){
	for(j=1;j<=i;j++){
     document.write(j+"x"+i+"="+i*j+"&nbsp&nbsp&nbsp")
     }
  document.write("<br>")
}

题目4: 简单验证用户名和密码
<script>
var user=prompt("user name:");
var psw=prompt("password:");
if (user==/^[a-zA-Z]+$/ && psw==/^[0-9a-zA-Z]+$/){
alert("correct!")
}
else {
alert("user name can only be letters!")
}
</script>
